* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.reset {
  background-color: Blue;
  color: white;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 8px #888888;
  width: 17rem;
  height: 5rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Fredoka", cursive;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset:hover {
  box-shadow: 0px 0px 15px #888888;
}
